body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 18px;
    font-style: italic;
}

.correct {
    color: green;
    font-weight: bold;
}
.wrong {
    color: red;
}

.quiz-box {
    background: beige;
    padding: 25px;
    border-radius: 12px;
    width: 100%;
    max-width: 350px;
    height: 100%;
    max-height: 700px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    margin-top: 40px;
    margin-bottom: 40px;
}